<div class="footer">
    <div class="row">
        <div class="col">
            <a>
                <img class="logo" src="./assets/img/logo.png" alt="Logo de la institucion 713 Juan Abdala Chayep">
            </a>
        </div>
        <div class="col">
            <p class="align-bottom">Escuela Juan Abdala Chayep N.713</p>
        </div>
        <div class="col">
            <p>Practica Profesionalizante</p>
        </div>
        <div class="col">
            <p>Email de contacto: Brunt300@gmail.com</p>
        </div>
    </div>
</div>