<section class="col-izq ">
    <h1>Proyectos</h1>
    <ul>
        <li>Creación y desarrollo de una página web de ventas de indumentaria</li>
    </ul>
    <p>Diseñé una interfaz intuitiva y atractiva para los usuarios. En proceso de integración de un
        sistema de carrito de compras y gestión de la base de datos para los productos.</p>
    <ul>
        <li>Creación y desarrollo de una aplicación</li>
    </ul>
    <p>Sistema de gestión y administración para flujo de datos personales y venta de entradas para todo
        tipo de eventos.
        En proceso de desarrollo.</p>
</section>