<section class="col-drc">
    <h1>Experiencia Laboral</h1>
    <h2>2023-Actualidad. Programador Autónomo</h2>
    <ul>
        <li>Desarrollé conocimientos para realizar paginas web.</li>
        <li>Adquirí conocimientos de Frontend.</li>
        <li>Adquirí conocimientos semi-avanzados de backend.</li>
        <li>Adquirí el desarrollo de códigos con de buenas practicas y código limpio.</li>
    </ul>

    <h2>2022-Actualidad. Atención al publico en comercio</h2>
    <ul>
        <li>Desarrollé capacidades para comunicarme de manera efectiva con clientes de diversos
            perfiles.</li>
        <li>Desarrollé habilidades en el manejo de inventario y exhibición de productos.</li>
        <li>Adquirí habilidades en la gestión de quejas y resolución de conflictos.</li>
        <li>Adquirí habilidades en la gestión de cajas y flujo de dinero.</li>
        <li>Utilice programas comerciales</li>
    </ul>

    <h2>2019-2022.Ayudante de Técnico en Sistemas de Refrigeración</h2>
    <ul>
        <li>Desarrollé conocimientos sólidos en el campo de sistemas de refrigeración.</li>
        <li>Realicé montados y puesta en marcha de cámaras frigoríficas, aires condicionas,
            heladeras y otros.</li>
        <li>Realicé la programación de los sistemas de control de frio y calor.</li>
        <li>Realicé conexiones eléctricas de sistemas eléctricos.</li>
        <li>Lleve a cabo el mantenimiento de estos.</li>
    </ul>
    <h2>2019-2021. Empresa de Energía Autosustentable Solar</h2>
    <ul>
        <li>Desarrollé conocimientos en el campo de las energías renovables.</li>
        <li>Realicé conexiones eléctricas en estructuras edilicias.</li>
        <li>Realicé colocaciones de sistemas de control con pantallas solares.</li>
        <li>Realicé el mantenimiento de los sistemas soles.</li>
    </ul>
</section>